<html>
<title>Driftex of the Day</title>
<div class="row" style="justify-content: center">
    <a class="btn" id="prevbutton">Prev</a>
    <div class="btn" id="currentday"></div>
    <a class="btn" id="nextbutton">Next</a>

</div>
<div class="row">
    <div class="col1" style="position: relative">
        <div class="gallery" id="gallery"></div>
        <div class="gallery" style="z-index: -1; position: absolute; top: 0; left: 0;" id="gallery2"></div>
        <p id="desc"></p>
    </div>
    <div class="col2">
        Auto Cycle <input type="checkbox" id="autocycle" checked>
        <br>
        <button onClick="toggleDebug()">Toggle Debug</button>
        <div id="picker" class="scrollbox">

        </div>
    </div>
</div>
<pre id="test"></pre>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
<script lang="js">

    function goprev() {
        const searchParams = new URLSearchParams(window.location.search);
        const destination = new Date(searchParams.get('date') ?? todayDate());
        destination.setDate(destination.getDate() - 1);
        $('#prevbutton').attr('href', `/?date=${destination.toISOString().substring(0, 10)}`)
    }

    function gonext() {
        const searchParams = new URLSearchParams(window.location.search);
        const destination = new Date(searchParams.get('date') ?? todayDate());
        destination.setDate(destination.getDate() + 1);
        $('#nextbutton').attr('href', `/?date=${destination.toISOString().substring(0, 10)}`)

    }
    gonext();
    goprev();

    function toggleDebug() {
        console.log("togglling")
        $('#test').toggle();
    }
    toggleDebug(); // Set to hidden to start.

    function setGallery(src, desc) {
        const oldSrc = document.getElementById('gallery').style['background-image'];
        $('#gallery2').css('background-image', oldSrc);
        $("#gallery").fadeOut(0, () => {
            $('#gallery').css('background-image', `url(${src})`);
            $('#gallery').fadeIn(1000);
            $('#desc').text(desc);

        })
    }
    function todayDate() {
        return new Date().toISOString().substring(0, 10);
    }
    $('#currentday').text(todayDate());

    function makePickerImage(item) {
        const container = document.createElement('div');
        const img = document.createElement('img');
        img.src = item.src;
        const p = document.createElement('p');
        p.innerText = item.prompt;
        container.appendChild(img);
        container.appendChild(p);
        container.addEventListener('click', (() => {
            setGallery(item.src, item.prompt);
        }));
        return container;

    }
    const data = JSONDATA
    document.getElementById("test").innerHTML = JSON.stringify(data, null, 1);
    console.log(data);
    const picker = document.getElementById("picker");
    for (const res of data?.images ?? []) {
        const newCont = makePickerImage(res);
        picker.appendChild(newCont)
    }
    let currentIndex = 0;
    setGallery(data.images[currentIndex].src, data.images[currentIndex].prompt);

    setInterval(() => {
        const c = document.getElementById('autocycle');
        if (!c.checked) {
            return;
        }
        console.log("Setting to", currentIndex)
        setGallery(data.images[currentIndex].src, data.images[currentIndex].prompt);
        currentIndex += 1;
        if (currentIndex > (data.images.length - 1)) {
            currentIndex = 0;
        }
    }, 10000)
</script>
<style>
    .btn {
        padding: 1px 6px;
        border-radius: 3px;
    }

    .row {
        display: flex;
    }

    .gallery {
        width: 100%;
        height: 90vh;
        background-size: contain;
        background-repeat: no-repeat;
    }

    .scrollbox {
        height: 90vh;
        overflow: scroll;
    }

    .col1 {
        width: 90%;
    }

    .col2 {
        width: 10%;
        padding: 1em;
    }

    img {
        width: 100%;

    }

    img:hover {
        cursor: pointer;
        scale: 1.1;
    }

    body {
        background-color: #222;
        color: #aaa;
    }
</style>

</html>